body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ebebeb;
  font-size: 14px;
}

.navbar-bg{
  background-color: #000;
}

.navbar-toggler-icon {
  background-image: url("img/hamburger.svg");
}

.inquire-btn {
  color: #000 !important;
  background-color: #ffba00;
  border-color: #ffba00;
}

.text-white{
  color: #fff !important;
}

.aboutus-ul {
  /* list-style: none; */
  padding: 0;
  margin-bottom: 0;
}

/* .aboutus-ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -4px;
  left: -12px;
  width: 12px;
  height: 9px;
  background-image: url('img/correct sign.svg');
  background-repeat: no-repeat;
  background-position: center;
} */

.tours-height{
  max-height: 345px !important;
}

.large-img {
  width: calc((100% - 8px)/3 * 2);
  height: 345px;
}

